.procesCon {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--blue);
    box-shadow: 3px 2px 30px #0788ff26;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 15px;
}

.procesCon figure {
    border-radius: 50%;
    background: #0788ff2e;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.procesCon figure svg {
    color: #0788ff;
}

.procesCon h3 {
    font-size: 20px;
}

.process .row {
    --bs-gutter-x: 25px;
}