.proAll .proCon {
    width: 32%;
    position: relative;
    padding: 10px;
    background: #0788ff2e;
    overflow: hidden;
}

.proAll .proCon figure {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.projects {
    background: #bfe0ff2b;
}

.proAll {
    display: flex;
    gap: 20px 2%;
    flex-wrap: wrap;
}

.proBtn {
    margin-top: 30px;
}

.proAll .proCon figure img {
    position: absolute;
    left: 0;
    transition: all 5s;
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proAll .proCon .proText {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    scale: 0;
    width: 100%;
    height: 100%;
    background: #a8d5ff59;
    text-align: center;
    color: var(--blue);
    transition: all 0.5s;
    padding: 10px;
    align-content: center;
}

.proAll .proCon:hover img {
    object-position: bottom;
}

.proAll .proCon:hover .proText {
    scale: 1;
}